*{
    margin: 0;
    padding: 0;
}
.header , .footer {
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.main {
    display: flex;
    flex-direction: row;
}
.main-left {
    background-color: yellow;
    width: 30%;
    height: 100vh;
}
.main-right {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: chocolate;
    align-items: center;
}
.main-right-top {
    width: 80%;
    height: 450px;
    background-image: url(https://wordpress-developer.pp.ua/wp-content/uploads/flexbox-css.png);
    background-size: contain;
}
.main-right-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.block {
    height: 100px;
    width: 100px;
    background-color: black;
}
.article {
    text-align: center;
}
ul > li {
    padding: 10px;
    font-size: 24px;
}
ul > li:hover {
    font-size: 30px;
    font-weight: bold;
}
.text-menu {
    margin-top: 10px;
    margin-left: 10px;
}